body {
  font-family: sans-serif;
  margin: 20px;
}

input {
  margin-right: 5px;
}

button {
  margin-right: 5px;
}

#contactsList {
  margin-top: 10px;
}

#contactsList span {
  margin-right: 20px; 
  font-weight: bold;  
}
